.maestro-root-card {
    margin-top: auto;
}

.role-variables-editor-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.maestro-modal-import-buttons {
    display: flex;
    gap: 1rem;
}

.maestro-roles-editor-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.maestro-logo {
    border-radius: 10px;
    border: 2px solid white;
}

.maestro-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}
